# Exercise Level 1

1. Check the python version you are using<br></br>
``python --version``

2. Open the python interactive shell and do the following operations. The operands are 3 and 4.
- ``Print(3+4)``    addition(+)
- ``Print(3-4)``    subtraction(-)
- ``Print(3*4)``    multiplication(*)
- ``Print(3%4)``    modulus(%)
- ``Print(3/4)``    division(/)
- ``Print(3**4)``   exponential(**)
- ``Print(3//4)``    floor division operator(//)<br></br>

3. Write strings on the python interactive shell. The strings are the following:
* ``Print("Ahmad Dahiru Namaru")``      Your name
* ``Print("Namaru")``                   Your family name
* ``Print("Nigeria")``                  Your country
* ``Print("I am enjoying 30 days of python")``  <br></br>

4. Check the data types of the following data:
- Print(type(10))  `Int`
- Print(type(9.8))  `Float`
- Print(type(3.14))`Float`
- Print(type(4 - 4j))`Complex`
- Print(type(['Asabeneh', 'Python', 'Finland']))`List`
- Print(type("Ahmad Dahiru Namru"))`str`
- Print(type("Namaru"))`str`
- Print(type("Nigeria"))`str`

# Exercise Level 2

1. Check the python version you are using

In [ ]:
python --version

2. Open the python interactive shell and do the following operations. The operands are 3 and 4.
* addition(+)

In [ ]:
print(3+4)

* subtraction(-)

In [ ]:
print(3-4)

* multiplication(*)

In [ ]:
print(3*4)

* modulus(%)

In [ ]:
print(3%4)

* division(/)

In [ ]:
print (3/4)

* exponential(**)

In [ ]:
print(3**4)

* floor division operator(//)

In [ ]:
print (3//4)

3. Write strings on the python interactive shell. The strings are the following:
* Your name
* Your family name
* Your country
* I am enjoying 30 days of python

In [ ]:
name = "Ahmad Dahiru Namaru"
family_name = "Namaru"
country = "Nigeria"
print("My Name is: ", name)
print("My Family Name is: ", family_name)
print("My Country is: ", country)
print("I am enjoying 30 days of python")

4. Check the data types of the following data:
- 10
- 9.8
- 3.14
- 4 - 4j
- ['Asabeneh', 'Python', 'Finland']
- Your name
- Your family name
- Your country

In [ ]:
# Checking Data Types
print(type(10))
print(type(9.8))
print(type(3.14))
print(type(4 - 4j))
print(type(['Asabeneh', 'Python', 'Finland']))
print(type(name))
print(type(family_name))
print(type(country))

# Exercise Level 3

1. Write an example for different Python data types such as Number(Integer, Float, Complex), String, Boolean, List, Tuple, Set and Dictionary.

#### Examples of Numbers

In [ ]:
print(234*123)                      # Integer
print(6.012 - 4.23)                 # Float
print(3i - 2)                       # Complex

#### Examples of Strings

In [ ]:
a= "Ahmad"
b = 'Dahiru'

In [ ]:
print("Hello World")
print("This is Arewa DS Fellowship Exercise")

#### Examples of Boolean

In [ ]:
is_ligth_available = True
are_you_cohort3_fellow = True
do_you_smoke = False

#### Examples of List

In [ ]:
names = ["Ahmad","Dahiru","Namaru"]
numbers = ["25",'36','48']
countries = ['Nigeria','Ghana','Togo']

print(names)
print(numbers)
print(countries)

#### Examples of Tuples

In [ ]:
g=('maru','gusau','bungudu')
h=('1.2','6.8','9.2')
print(g)
print(h)

#### Examples of Set

In [ ]:
m={6, 5, 8, 2}
n={1.23, 4.56, 7.89} 
print(m)
print(n)

#### Examples of Dictionary

In [ ]:
p = {
'preferred_name':'namaru','age':'20','state':'zamfara','is_married':False,}

print(p)

2. Find an Euclidian distance between (2, 3) and (10, 8)

In [ ]:
import math
point_1 = (2,3)
point_2 = (10,8)

distance = math.sqrt ((point_1[0]-point_2[0])**2 + (point_1[1]-point_2[1])**2)

print("The Euclidian Distance Between point 1 and point 2 is: ", distance)

In [ ]:

distance = math.sqrt ((2-10)**2 + (3-8)**2)

print("The Euclidian Distance Between point 1 and point 2 is: ", distance)