# Exercises: Module 9
#### Exercises: Level 1

1. Declare a function add_two_numbers. It takes two parameters and it returns a sum.

In [ ]:
def add_two_numbers(num1, num2):
    sum = num1 + num2
    return sum
print(add_two_numbers(5,2))

2. Area of a circle is calculated as follows: area = π x r x r. Write a function that calculates area_of_circle

In [ ]:
def area_of_circle(pi,r):
    area = pi*r*r
    return area
print(area_of_circle(3.14,5))

3. Write a function called add_all_nums which takes arbitrary number of arguments and sums all the arguments. Check if all the list items are number types. If not do give a reasonable feedback.

In [ ]:
def add_all_nums(*args):
    total = 0
    for num in args:
        if not isinstance(num, (int, float)):
            return "All arguments must be numbers"
        total += num
    return total

print(add_all_nums(1, 2, 3, 4.5))
print(add_all_nums(1, 'two', 3))

4. Temperature in °C can be converted to °F using this formula: °F = (°C x 9/5) + 32. Write a function which converts °C to °F, convert_celsius_to-fahrenheit.

In [ ]:
def convert_celsius_to_fahrenheit(celsius):
    fahrenheit = (celsius * 9/5) + 32
    return fahrenheit
print(convert_celsius_to_fahrenheit(30))

5. Write a function called check-season, it takes a month parameter and returns the season: Autumn, Winter, Spring or Summer.

In [ ]:
def check_season(month):
    if month in ['September', 'October', 'November']:
        return f'The Season for the Month of {month} is: Autumn'
    elif month in ['December', 'January', 'February']:
        return f'The Season for the Month of {month} is:Winter'
    elif month in ['March', 'April', 'May']:
        return f'The Season for the Month of {month} is:Spring'
    elif month in ['June', 'July', 'August']:
        return f'The Season for the Month of {month} is:Summer'
    else:
        return f'{month} is Not a valid month'
print(check_season('August'))
print(check_season('September'))
print(check_season('January'))
print(check_season('April'))
print(check_season('Sunday'))

6. Write a function called calculate_slope which return the slope of a linear equation

In [ ]:
def calculate_slope(x1, y1, x2, y2):
    slope = (y2 - y1) / (x1 - x2)
    return slope
print(calculate_slope(5, 2, 4, 6))

7. Quadratic equation is calculated as follows: ax² + bx + c = 0. Write a function which calculates solution set of a quadratic equation, solve_quadratic_eqn.

In [ ]:
def solve_quadratic_eqn(a, b, c,):
    x= 5
    solution = a*x**2+b*x+c
    return solution
print(solve_quadratic_eqn(4,8,10))

8. Declare a function named print_list. It takes a list as a parameter and it prints out each element of the list.

In [ ]:
def print_list(names):
    for i in names:
        print(i)
print (print_list(['Ahmad', 'Namaru', 'Dahiru', 'Malan']))

9. Declare a function named reverse_list. It takes an array as a parameter and it returns the reverse of the array (use loops).
>>print(reverse_list([1, 2, 3, 4, 5]))
 [5, 4, 3, 2, 1]
 
>>print(reverse_list1(["A", "B", "C"]))
 ["C", "B", "A"]

In [ ]:
def reverse_list(*reverse):
    return reverse[::-1]
print(reverse_list(1,2,3,4,5))
print(reverse_list('A','B','C'))

10. Declare a function named capitalize_list_items. It takes a list as a parameter and it returns a capitalized list of items

In [ ]:
def capitalize_list_items(*items):
    return [i.upper() for i in items]
print(capitalize_list_items('Ahmad', 'Namaru', 'Dahiru'))

11. Declare a function named add_item. It takes a list and an item parameters. It returns a list with the item added at the end.
    
food_staff = ['Potato', 'Tomato', 'Mango', 'Milk']
>print(add_item(food_staff, 'Meat'))     # ['Potato', 'Tomato', 'Mango', 'Milk','Meat']

numbers = [2, 3, 7, 9]
>print(add_item(numbers, 5))      [2, 3, 7, 9, 5]

In [ ]:
def add_item(*item):
    food_stuff = ['Potato','Tomato','Mango','Milk']
    food_stuff.append(item)
    return food_stuff
print('The Appended/New List is:',add_item('Onions','Egg'))

In [ ]:
def add_item(number):
    numbers = [2,3,7,9]
    numbers.append(number)
    return numbers
print('The Appended/New List is:',add_item(5))

12. Declare a function named remove_item. It takes a list and an item parameters. It returns a list with the item removed from it.

food_staff = ['Potato', 'Tomato', 'Mango', 'Milk']
>print(remove_item(food_staff, 'Mango'))  # ['Potato', 'Tomato', 'Milk'];

numbers = [2, 3, 7, 9]
>print(remove_item(numbers, 3))  # [2, 7, 9]

In [ ]:
def remove_item(item):
    food_stuff = ['Potato','Tomato','Mango','Milk']
    food_stuff.remove(item)
    return food_stuff
print(remove_item('Mango'))

In [ ]:
def remove_item(number):
    numbers = [2,3,7,9]
    numbers.remove(number)
    return numbers
print('The Appended/New List is:',remove_item(3))

13. Declare a function named sum_of_numbers. It takes a number parameter and it adds all the numbers in that range.

print(sum_of_numbers(5))  # 15

print(sum_of_numbers(10)) # 55

print(sum_of_numbers(100)) # 5050

In [ ]:
def sum_of_numbers(n):
    return sum(range(1, n + 1))
print(sum_of_numbers(5))
print(sum_of_numbers(10))
print(sum_of_numbers(100))

14. Declare a function named sum_of_odds. It takes a number parameter and it adds all the odd numbers in that range.

In [ ]:
def sum_of_odds(number):
    return sum(i for i in range(1, number + 1) if i % 2 != 0)
print(sum_of_odds(10))

15. Declare a function named sum_of_even. It takes a number parameter and it adds all the even numbers in that - range.

In [ ]:
def sum_of_even(number):
    return sum(i for i in range(1, number + 1) if i % 2 == 0)
print(sum_of_even(10))

#### Exercises: Level 2
1. Declare a function named evens_and_odds . It takes a positive integer as parameter and it counts number of evens and odds in the number.
    
    print(evens_and_odds(100))
    * The number of odds are 50.
    * The number of evens are 51.

In [ ]:
def evens_and_odds(number):
    evens = sum(1 for i in range(number + 1) if i % 2 == 0)
    odds = sum(1 for i in range(number + 1) if i % 2 != 0)
    return f'The number of evens are {evens}.\nThe number of odds are {odds}.'
print(evens_and_odds(100))

2. Call your function factorial, it takes a whole number as a parameter and it return a factorial of the number

In [ ]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)
print(factorial(5))

3. Call your function is_empty, it takes a parameter and it checks if it is empty or not

In [ ]:
def is_empty():
    is

In [ ]:
def is_empty(param):
    return not bool(param)

print(is_empty([]))
print(is_empty([1, 2, 3]))
print(is_empty(''))
print(is_empty('Hello'))

4. Write different functions which take lists. They should calculate_mean, calculate_median, calculate_mode, calculate_range, calculate_variance, calculate_std (standard deviation).

In [ ]:
import statistics

def calculate_mean(numbers):
    return statistics.mean(numbers)

def calculate_median(numbers):
    return statistics.median(numbers)

def calculate_mode(numbers):
    return statistics.mode(numbers)

def calculate_range(numbers):
    return max(numbers) - min(numbers)

def calculate_variance(numbers):
    return statistics.variance(numbers)

def calculate_std(numbers):
    return statistics.stdev(numbers)

# Example usage
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print("Mean:", calculate_mean(numbers))
print("Median:", calculate_median(numbers))
print("Mode:", calculate_mode(numbers))
print("Range:", calculate_range(numbers))
print("Variance:", calculate_variance(numbers))
print("Standard Deviation:", calculate_std(numbers))

#### Exercises: Level 3
1. Write a function called is_prime, which checks if a number is prime.

In [ ]:
def is_prime(number):
    if number <= 1:
        return f'{number} is Not Prime'
    for i in range(2, int(number ** 0.5) + 1):
        if number % i == 0:
            return f'{number} is Not Prime'
    return f'{number} is Prime'

print(is_prime(2)) 
print(is_prime(4))
print(is_prime(17))
print(is_prime(18))
print(is_prime(19))

2. Write a functions which checks if all items are unique in the list.

In [ ]:
def all_unique(items):
    return len(items) == len(set(items))

print(all_unique([1, 2, 3, 4, 5]))
print(all_unique([1, 2, 3, 4, 5, 5]))
print(all_unique(['a', 'b', 'c', 'd', 'e']))
print(all_unique(['a', 'b', 'c', 'd', 'a']))

3. Write a function which checks if all the items of the list are of the same data type.

In [ ]:
def check_same_type(lst):
    if not lst:
        return True
    first_type = type(lst[0])
    return all(isinstance(item, first_type) for item in lst)

print(check_same_type(numbers))
print(check_same_type([1, '2', 3]))

4. Write a function which check if provided variable is a valid python variable

In [ ]:
def check_valid_variable(valid):
    if not valid.isidentifier():
        return f'Not a Valid Python Variable'
    return f'Is a Valid Python Variable'
print(check_valid_variable('1Ahmad'))
print(check_valid_variable('Ahmad'))
print(check_valid_variable('ahmad'))

5. Go to the data folder and access the countries-data.py file.
* Create a function called the most_spoken_languages in the world. It should return 10 or 20 most spoken languages in the world in descending order
* Create a function called the most_populated_countries. It should return 10 or 20 most populated countries in descending order.

In [ ]:
import countries-data
from collections import Counter

def most_spoken_languages(countries_data, top_n=10):
    language_counter = Counter()
    for country in countries_data:
        language_counter.update(country['languages'])
    
    return [language for language, _ in language_counter.most_common(top_n)]

def most_populated_countries(countries_data, top_n=10):
    countries_sorted_by_population = sorted(countries_data, key=lambda x: x['population'], reverse=True)
    return [country['country'] for country in countries_sorted_by_population[:top_n]]

print("Most Spoken Languages:", most_spoken_languages(countries_data, 10))
print("Most Populated Countries:", most_populated_countries(countries_data, 10))

# List Comprehension Exercises

1. Filter only negative and zero in the list using list comprehension

> numbers = [-4, -3, -2, -1, 0, 2, 4, 6]

In [ ]:
numbers = [-4, -3, -2, -1, 0, 2, 4, 6]
negative_and_zero = [i for i in numbers if i <= 0]
print(negative_and_zero)

2. Flatten the following list of lists of lists to a one dimensional list :

list_of_lists =[[[1, 2, 3]], [[4, 5, 6]], [[7, 8, 9]]]

> output
>> [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list_of_lists =[[[1, 2, 3]], [[4, 5, 6]], [[7, 8, 9]]]
one_list = [number for row in list_of_lists for number in row]
flattened = [number for row in one_list for number in row]
print(one_list)
print(flattened)

3. Using list comprehension create the following list of tuples:

[(0, 1, 0, 0, 0, 0, 0),
(1, 1, 1, 1, 1, 1, 1),
(2, 1, 2, 4, 8, 16, 32),
(3, 1, 3, 9, 27, 81, 243),
(4, 1, 4, 16, 64, 256, 1024),
(5, 1, 5, 25, 125, 625, 3125),
(6, 1, 6, 36, 216, 1296, 7776),
(7, 1, 7, 49, 343, 2401, 16807),
(8, 1, 8, 64, 512, 4096, 32768),
(9, 1, 9, 81, 729, 6561, 59049),
(10, 1, 10, 100, 1000, 10000, 100000)]

In [ ]:
result = [(i, 1, i**1, i**2, i**3, i**4, i**5) for i in range(11)]

print(result)

4. Flatten the following list to a new list:

countries = [[('Finland', 'Helsinki')], [('Sweden', 'Stockholm')], [('Norway', 'Oslo')]]

output:
>[['FINLAND','FIN', 'HELSINKI'], ['SWEDEN', 'SWE', 'STOCKHOLM'], ['NORWAY', 'NOR', 'OSLO']]

In [ ]:
countries = [[('Finland', 'Helsinki')], [('Sweden', 'Stockholm')], [('Norway', 'Oslo')]]
one_list = [number for row in countries for number in row]
flattened = [number for row in one_list for number in row]
print(one_list)
print(flattened)

5. Change the following list to a list of dictionaries:

countries = [[('Finland', 'Helsinki')], [('Sweden', 'Stockholm')], [('Norway', 'Oslo')]]

output:
>[{'country': 'FINLAND', 'city': 'HELSINKI'},
>{'country': 'SWEDEN', 'city': 'STOCKHOLM'},
>{'country': 'NORWAY', 'city': 'OSLO'}]

In [ ]:
countries = [[('Finland', 'Helsinki')], [('Sweden', 'Stockholm')], [('Norway', 'Oslo')]]

countries_dict = [{'country': country, 'city': city} for [(country, city)] in countries]

print(countries_dict)

6. Change the following list of lists to a list of concatenated strings:

names = [[('Asabeneh', 'Yetayeh')], [('David', 'Smith')], [('Donald', 'Trump')], [('Bill', 'Gates')]]

output
>['Asabeneh Yetaeyeh', 'David Smith', 'Donald Trump', 'Bill Gates']

In [ ]:
names = [[('Asabeneh', 'Yetayeh')], [('David', 'Smith')], [('Donald', 'Trump')], [('Bill', 'Gates')]]

concatenated_names = [f"{firstname} {lastname}" for [(firstname, lastname)] in names]

print(concatenated_names)

7. Write a lambda function which can solve a slope or y-intercept of linear functions.

In [ ]:
slope = lambda x1, y1, x2, y2: (y2 - y1) / (x2 - x1) if x1 != x2 else float('inf')
y_intercept = lambda x1, y1, x2, y2: y1 - slope(x1, y1, x2, y2) * x1

# Example usage
x1, y1 = 1, 2
x2, y2 = 4, 6

print("Slope:", slope(x1, y1, x2, y2)) 
print("Y-Intercept:", y_intercept(x1, y1, x2, y2))