# Module 5 Exercies
## List Exercises
#### Exercises: Level 1

1. Declare an empty list

In [2]:
my_list = list()        # Using List Method
my_list = []            # Using Square Brackets

2. Declare a list with more than 5 items

In [ ]:
my_list = ['Banaga','Sule','Model','Primary','School','Maru']
print(my_list)

3. Find the length of your list

In [ ]:
print('The Length of My List is: ',len(my_list))

4. Get the first item, the middle item and the last item of the list

In [ ]:
print('First Item of the List is:',my_list[0])
print('Middle Item of the List is:',my_list[3])
print('Last Item of the List is:',my_list[-1])

5. Declare a list called mixed_data_types, put your(name, age, height, marital status, address)

In [ ]:
mixed_data_types = ['Ahmad Namaru',27,1.78,'Single','Makarantar Boko Area']
print(mixed_data_types)

6. Declare a list variable named it_companies and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.
7. Print the list using print()

In [ ]:
it_companies= ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
print(it_companies)

8. Print the number of companies in the list

In [ ]:
print(len(it_companies))

9. Print the first, middle and last company

In [ ]:
print('The First Company in the list is: ',it_companies[0])
print('The Middle Company in the list is: ',it_companies[3])
print('The Last Company in the list is: ',it_companies[-1])

10. Print the list after modifying one of the companies

In [ ]:
it_companies[1] = 'Namaru'
print('After Modification, the New List is: ',it_companies)

11. Add an IT company to it_companies

In [ ]:
# Using Append Method

it_companies.append('IT')
print(it_companies)

12. Insert an IT company in the middle of the companies list

In [ ]:
# Inserting 'IT' in the middle of the List

it_companies.insert(1,'IT')
print(it_companies)

13. Change one of the it_companies names to uppercase (IBM excluded!)

In [ ]:
# Changing 'Facebook' to uppercase

it_companies[0] = 'FACEBOOK'
print(it_companies)

14. Join the it_companies with a string '#;  '

In [ ]:
joining = '#;'
it_companies.extend(joining)
print(it_companies)

15. Check if a certain company exists in the it_companies list.

In [ ]:
# Checking if "Namaru" is in the List
print('Is "Namaru" in the List?: ', 'Namaru' in it_companies)

16. Sort the list using sort() method

In [ ]:
it_companies.sort()
print(it_companies) # Sorted in Ascending Order

17. Reverse the list in descending order using reverse() method

In [ ]:
it_companies.sort(reverse=True)

print(it_companies) # Sorted in Descending Order

18. Slice out the first 3 companies from the list

In [ ]:
print('The First Three Items in the List are: ',it_companies[0:3])

19. Slice out the last 3 companies from the list

In [ ]:
print('The Last Three Items in the List are: ',it_companies[-3::])

20. Slice out the middle IT company or companies from the list

In [ ]:
print('The Middle Item(s) in the List is: ',it_companies[5])

21. Remove the first IT company from the list

In [ ]:
it_companies.pop(0)
print(it_companies)

22. Remove the middle IT company or companies from the list

In [ ]:
del it_companies[4:6]
print(it_companies)

23. Remove the last IT company from the list

In [ ]:
it_companies.pop()
print(it_companies)

24. Remove all IT companies from the list

In [ ]:
it_companies.clear()
print(it_companies)

25. Destroy the IT companies list

In [ ]:
del it_companies
print(it_companies)     # It will print an error message because it was deleted before the print

26. Join the following lists:

front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']

back_end = ['Node','Express', 'MongoDB']

In [ ]:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']

#Using the Plus (+) Operator to Join
print(front_end + back_end)

# Using Extend() Method
front_end.extend(back_end)
print(front_end)

27. After joining the lists in question 26. Copy the joined list and assign it to a variable full_stack, then insert Python and SQL after Redux.

In [ ]:
full_stack = front_end.copy()
full_stack.insert(5,'Python')
full_stack.insert(6,'SQL')
print(full_stack)

#### Exercises: Level 2
1. The following is a list of 10 students ages:

>>> ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
* Sort the list and find the min and max age
* Add the min age and the max age again to the list
* Find the median age (one middle item or two middle items divided by two)
* Find the average age (sum of all items divided by their number )
* Find the range of the ages (max minus min)
* Compare the value of (min - average) and (max - average), use abs() method

In [ ]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

ages.sort()
print(ages)             # Sorted List

minimum = min(ages)     # Minimum Value
maximum = max(ages)     # Maximum Value
print('The Minimum Age is: ', minimum)
print('The Maximum Age is: ', maximum)

ages.append(minimum)    # Adding Minimum to the List Again!
ages.append(maximum)    # Adding Maximun to the List Again!
ages.sort()
print(ages)

median  = (ages[5]+ages[6])/2
print('The Median is:', median)

average  = (ages[0]+ages[1]+ages[2]+ages[3]+ages[4]+ages[5]+ages[6]+ages[7]+ages[8]+ages[9]+ages[10]+ages[-1])/12
print('The Average is:',average)

range = maximum-minimum
print('The Age range is:',range)

compare = abs(ages)
print(compare)

## Tuple Exercises
#### Tuple Exercises: Level 1

1. Create an empty tuple

In [ ]:
tpl = tuple()

2. Create a tuple containing names of your sisters and your brothers (imaginary siblings are fine)

In [ ]:
sisters = ('Fatima','Safiya','Hafsat')
brothers = ('Usman','Aliyu','Sani')

print(sisters)
print(brothers)

3. Join brothers and sisters tuples and assign it to siblings

In [ ]:
siblings = brothers + sisters
print(siblings)

4. How many siblings do you have?

In [ ]:
print(len(siblings))

5. Modify the siblings tuple and add the name of your father and mother and assign it to family_members

In [ ]:
family_members = list(siblings)
print(family_members)

family_members.append('Father')
family_members.append('Mother')
print(family_members)

family_members_1 = tuple(family_members)
print(family_members_1)

#### Tuple Exercises: Level 2

1. Unpack siblings and parents from family_members

In [ ]:
siblings1,siblings2, siblings3, siblings4, siblings5, siblings6, *parents = family_members
print(parents)

2. Create fruits, vegetables and animal products tuples. Join the three tuples and assign it to a variable called food_stuff_tp.

In [ ]:
fruits = ('Mango','Banana','Apple')
vegetables = ('Tomato','Pepper','Cabbage')
animal_products = ('Milk','Egg','Meat')

food_stuff_tp = fruits+vegetables+animal_products
print(food_stuff_tp)

3. Change the about food_stuff_tp tuple to a food_stuff_lt list

In [ ]:
food_stuff_lt = list(food_stuff_tp)
print(food_stuff_lt)

4. Slice out the middle item or items from the food_stuff_tp tuple or food_stuff_lt list.

In [ ]:
middle = food_stuff_lt[4]
print(f'The Middle Item in The List/Tuple is: {middle}')

5. Slice out the first three items and the last three items from food_staff_lt list

In [ ]:
first_three = food_stuff_lt[:3]
print(f'The First Three Items Are: {first_three}')

last_three = food_stuff_lt[-3:]
print(f'The Last Three Items Are: {last_three}')

6. Delete the food_staff_tp tuple completely

In [ ]:
del food_stuff_tp

7. Check if an item exists in tuple:
* Check if 'Estonia' is a nordic country

* Check if 'Iceland' is a nordic country

```nordic_countries = ('Denmark', 'Finland','Iceland', 'Norway', 'Sweden')```

In [ ]:
nordic_countries = ('Denmark', 'Finland','Iceland', 'Norway', 'Sweden')

print('Estonia' in nordic_countries)
print('Iceland' in nordic_countries)

## Set Exercises
#### Set Exercises: Level 1

In [68]:
# sets
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

1. Find the length of the set it_companies

In [ ]:
print('The Length of the it_companies set is: ', len(it_companies))

2. Add 'Twitter' to it_companies

In [ ]:
it_companies.add('Twitter')
print(it_companies)

3. Insert multiple IT companies at once to the set it_companies

In [ ]:
it_companies.update(['Meta', 'Alphabet', 'Adobe'])
print(it_companies)

4. Remove one of the companies from the set it_companies

In [ ]:
it_companies.remove('Amazon')
print(it_companies)

5. What is the difference between remove and discard

The difference between `remove()` and `discard()` is:

remove() method raises an error if the item is not found while discard() method does not raise any error message

Example:

In [ ]:
# it_companies.remove('Ahmad')            # Using Remove Method
it_companies.discard('Ahmad')           # Using Discard Method

#### Sets Exercises: Level 2

* A = {19, 22, 24, 20, 25, 26}
* B = {19, 22, 20, 25, 26, 24, 28, 27}
1. Join A and B

In [ ]:
# Using union() method
A.union(B)

# Using update() method
A.update(B)
print(A)

2. Find A intersection B

In [ ]:
A.intersection(B)

3. Is A subset of B

In [ ]:
A.issubset(B)

4. Are A and B disjoint sets

In [ ]:
A.isdisjoint(B)

5. Join A with B and B with A

In [ ]:
# Joining Set A with B
print(A.union(B))

# joining Set B with A
print(B.union(A))

6. What is the symmetric difference between A and B

In [ ]:
A.symmetric_difference(B)

7. Delete the sets completely

In [74]:
del A
del B

#### Sets Exercises: Level 3

1. Convert the ages to a set and compare the length of the list and the set, which one is bigger?

In [75]:
age = [22, 19, 24, 25, 26, 24, 25, 24]

In [ ]:
list1 = set(age)
print(list1)

# Finding the Length of each

print('The Length of Age List is: ',len(age))
print('The Length of Age Set is: ',len(list1))

2. Explain the difference between the following data types: string, list, tuple and set

1. **String:** is a set characters which consist Alphabets and Numbers in a Quote
2. **List:** is a collection of items which are ordered and changeable
3. **Tuple:** is a collection of items which are ordered and unchangeable
4. **Set:** is a collection of items which are unordered, un-indexed and unchangeable

3. I am a teacher and I love to inspire and teach people. How many unique words have been used in the sentence? Use the split methods and set to get the unique words.

In [ ]:
unique = 'I am a teacher and I love to inspire and teach people'

unique1 = unique.split(' ')
print(unique1)

unique2 = set(unique1)
print(unique2)
print('The Number of Unique Words in the Sentence are: ', len(unique2))